<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cajero</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<h2>Ha ingresado como cajero de {{ restaurant.name }}</h2>
<hr>
{% if orders %}
<h3>Pedidos:</h3>
<form action="">
    <div class="row">
        {% for table, order in orders %}
        <div class="card">
            <h2 class="card-title">Mesa {{ table.id }}</h2>
            <table class="table table-striped">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>id</th>
                </tr>
                {% for product in order %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.id }}</td>
                </tr>
                {% endfor %}
            </table>

            {% for table_observation, observation in observations %}
            {% if table == table_observation %}

            <h3>Observaciones:</h3>
            <ul>
                {% for item in observation %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</form>

{% else %}

<h3>No hay pedidos activos</h3>

{% endif %}


{% endblock content %}
</body>
</html>